body{
    background: "https://i.pinimg.com/originals/ea/8b/13/ea8b137fbc46bea2f12cc9087e57053d.gif";
}

.Menu_superior{
    width: 100%;
    height: 100%;
    background-color: red;
    color: red;
    float: left;
}