*{
    margin: 0;
    padding: 0;

}
html, body {
  height: 100%;
  display: flex;
  flex-direction: column;
}
body{
    min-height: 100vh;
    background-image: url(https://raw.githubusercontent.com/gist/vininjr/d29bb07bdadb41e4b0923bc8fa748b1a/raw/88f20c9d749d756be63f22b09f3c4ac570bc5101/programming.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    scroll-behavior: auto;
scroll-behavior: smooth;
}
nav{
    background-color: beige;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}
nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
nav li{
    height: 50px;
}
.nav_menu{
   
    
}
nav a{
    color: black;
    text-decoration: none;
    height: 100%;
    padding: 0px 30px;
    align-items: center;
    display: flex;
}
nav a:hover{
    background-color: black;
    color: aliceblue;
}
.login_right {
  margin-left: auto;
}


#logo_rochi{
  width: 60px;
  height: auto;
}
footer{
  background-color: beige;
  height:50px;
  margin-top: auto;
  text-align: center;
}
#Inicio{
  float: right;
  text-decoration: none;
  color:black;
}

#Inicio1{
  float: left;
  text-decoration: none;
  color:black;
}
