html {
  font-family: "Oswald", sans-serif;
}
*{
    margin: 0;
    padding: 0;

}
html, body {
  height: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body {
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;
}

#image_body{
  height: auto;
  width: 100%;
  max-height: 600px;
  opacity: 0.9;
}


#Leyenda{
height: auto;
width: 250px;
margin: 0 auto;
background-color:blanchedalmond;
}
#Leyenda_img{
  height: 60px;
  width: 250px;
  margin: 0 auto;
  border:solid 1px;
  }
  #logo_rochi{
    margin:-10px 0;
    width: 60px;
    height: 70px;
    border: solid 1px;
  }

nav{
    background-color: beige;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}
nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    align-items: center;
}
nav li{
    height: 50px;
}
.Menu_etc{
  margin-left: 38%;
}

nav a{
    color: black;
    text-decoration: none;
    height: 100%;
    padding: 0px 30px;
    align-items: center;
    display: flex;
}
nav a:hover{
    background-color: black;
    color: aliceblue;
}
.login_right {
  margin-left: auto;
}
#login_img{
  
  height: 20px;
}


footer{
  background-color: beige;
  height:60px;
  margin-top: auto;
  text-align: center;
}
#Inicio{
  float: right;
  text-decoration: none;
  color:black;
  background-color: blanchedalmond;
  border: 1px solid;
  padding:7px 10px ;
  border-radius: 10px;
}

#Inicio1{
  float: left;
  text-decoration: none;
  color:black;
  background-color: blanchedalmond;
  border: 1px solid;
  padding: 10px;
  border-radius: 10px;
}
footer section{
  margin: 10px 50px ;
}

.collage_History {
  background-color: azure;
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
}

.collage_cafeteria {
  background-color: aqua;
  height: 200px;
  width: 450px;
  margin-left: 50px;
}